@model PagedList.IPagedList<RoosterApp.Models.Les>
@using PagedList
@using PagedList.Mvc;
@using RoosterApp.Models;
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>ZOEKEN</h2>
<table style="width: 100%" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Vak", "Index", new { sortOrder = ViewBag.VakSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Klas", "Index", new { sortOrder = ViewBag.DocentSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Docent", "Index", new { sortOrder = ViewBag.DocentSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Lokaal", "Index", new { sortOrder = ViewBag.LokaalSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Aanvang", "Index", new { sortOrder = ViewBag.AanvangSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Duur", "Index", new { sortOrder = ViewBag.DuurSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-clickable=true data-vak="@item.Vak" data-klas="@item.Klas" data-docent="@item.Docent" data-lokaal="@item.Lokaal" data-starttijd="@item.StartTijd.ToString("yyyy-MM-dd HH:mm:ss")" data-lengte="@item.Lengte" data-vakid="@item.VakId" data-vakcode="@item.VakCode" data-hash="@item.GetHashCode()">
                <td>@item.Vak</td>
                <td>@item.Klas</td>
                <td>@item.Docent</td>
                <td>@item.Lokaal</td>
                <td>@item.StartTijd.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@item.Lengte</td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Les</h4>
            </div>
            <div class="modal-body">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 20%;font-weight: bold">Vak</td>
                        <td id="vakInfo" style="width: 25%"></td>
                        <td style="width: 20%;font-weight: bold">Lokaal</td>
                        <td id="lokaalInfo" style="width: 25%"></td>
                    </tr>
                    <tr>
                        <td style="width: 20%;font-weight: bold">Docent</td>
                        <td id="docentInfo" style="width: 25%"></td>
                        <td style="width: 20%;font-weight: bold">Klas</td>
                        <td id="klasInfo" style="width: 25%"></td>
                    </tr>
                    <tr>
                        <td style="width: 20%;font-weight: bold">Aanvang</td>
                        <td id="aanvangInfo" style="width: 25%"></td>
                        <td style="width: 20%;font-weight: bold">Duur</td>
                        <td id="duurInfo" style="width: 25%"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a type="button" href="#" class="btn btn-primary">Toevoegen aan agenda</a>
                <a type="button" href="@Url.Action("MoreInfo","Search")" class="btn btn-info" id="btn-more-info">Details</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#SearchString").val("@(ViewBag.CurrentFilter as string)");

    $('.table > tbody > tr').click(function (e) {
        if (e.currentTarget.dataset.clickable == "true") {
            $("#vakInfo").text(e.currentTarget.dataset.vak);
            $("#lokaalInfo").text(e.currentTarget.dataset.lokaal);
            $("#docentInfo").text(e.currentTarget.dataset.docent);
            $("#klasInfo").text(e.currentTarget.dataset.klas);
            $("#aanvangInfo").text(e.currentTarget.dataset.starttijd);
            $("#duurInfo").text(e.currentTarget.dataset.lengte);

            $("#btn-more-info").attr("href",'@Url.Action("MoreInfo","Search")?id='+e.currentTarget.dataset.hash);

            $('#infoModal').modal({
                show: true
            });
        }
    });

    
</script>
