@model List<RoosterApp.Models.StatusLog>
@{
    ViewBag.Title = "_StatusHistoryPartial";
    
}

@if (Model.Any())
{
    foreach (var statusLog in Model)
    {
        <tr>
            <td>@statusLog.TaskId</td>
            <td>@statusLog.Timestamp</td>
            <td>@statusLog.Klas</td>
            <td>@statusLog.Week</td>
            <td>@statusLog.Completed</td>
        </tr>
    }
}
else
{
    <tr data-clickable=false>
        <td colspan="5" style="font-weight: bold;text-align: center;font-size: 18px;padding: 20px">
            Nog geen Data
        </td>
    </tr>
}
