@model List<RoosterApp.Models.StatusLog>
@if (Model.Any())
{
    foreach (var statusLog in Model)
    {
        <tr data-clickable=true data-taskid="@statusLog.TaskId" data-timestamp="@statusLog.Timestamp" data-klas="@statusLog.Klas" data-week="@statusLog.Week" data-completed="@statusLog.Completed" data-duration="@statusLog.Duration" data-action="@statusLog.Action" data-exception="@statusLog.Exception">
            <td>@statusLog.TaskId</td>
            <td>@statusLog.Timestamp</td>
            <td>@statusLog.Klas</td>
            <td>@statusLog.Week</td>
            <td>@statusLog.Completed</td>
        </tr>
    }
}
else
{
    <tr data-clickable=false>
        <td colspan="5" style="font-weight: bold;text-align: center;font-size: 18px;padding: 20px">
            Nog geen Data
        </td>
    </tr>
}

<script>
    bindTable();
</script>
